<div class= "col-sm-6 col-sm-offset-3">
  <h1><%= @cocktail.name %></h1>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <h3>Doses</h3>
  <div>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <div>
            <li><%= dose.description %></li>
        </div>
      <% end %>
    </ul>
    <%= link_to "+ Add dose", new_cocktail_dose_path(@cocktail.id) %>
  </div>
  <br>
  <div>
    <%= link_to "Back to list", cocktails_path, class: "btn btn-warning" %>
  </div>
</div>
